/*----------Head----------*/


#head-page
{
	background: #1c3d6c;
}

@media (max-width: 991px)
{
	#logo_div
	{
		display: none;
	}
}

#logo_unam
{
	width: 100%;
	margin: 20px 0 20px 0;
}

.titulo_consejo
{
	color: white;
}

.titulo_consejo span
{
	display: block;
}

#letras-logo
{
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	font-size: 45px;
}

#subletras-logo
{
	margin-top: 0px;
	margin-bottom: 2px;
	font-size: 22px;
}

#menu
{
	border-color: #1c3d6c;
	background: #1c3d6c;
	margin-bottom: 0px;
}

#menu ul
{
	background: #1c3d6c;
}

#menu li
{
	padding: 0 10px 0 10px;
}

#menu li.open a
{
	background-color: #1c3d6c;
}

#menu li a
{
	color: white;
	font-weight: bold;
	font-size: 17px;
}

#menu li a:hover
{
	background-color: #c5911f;
}

#menu li.active a
{
	background: #c5911f;

}

/*----------End Head----------*/

/*----------Footer----------*/

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 90px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 190px;
  background-color: #1c3d6c;
}

@media (max-width: 667px)
{
	.footer
	{
		height: 245px;
	}
}

.footer p
{
	color: white;
	font-weight: bold;
}

.footer img
{
	width: 30px;
}

.link-consejos
{
	color: #c5911f;
	font-weight: bold;
	margin: 0 45px 0 45px;
	text-decoration: none;
}

@media (max-width: 970px)
{
	.link-consejos
	{
		margin: 0 40px 0 40px;
	}
}

@media (max-width: 768px)
{
	.link-consejos
	{
		margin: 0 5px 0 5px;
	}
}

.grupo-links-consejos
{
	margin-top: 10px;
}

.info-consejo
{
	margin-top: 10px;
}

#counter
{
	display: block;
	width: 100px;
}

/*----------End Footer----------*/


/*----------Content----------*/

#content
{
	margin: 30px 0 100px 0;
}

@media (max-width: 667px)
{
	#content
	{
		margin: 30px 0 150px 0;
	}
}

/*----------End Content----------*/

/*----------Principal----------*/

.miniaturas
{
	margin: 20px 0 20px 0;
}

.thumbnail-main
{
	/*width: 248px;*/
	height: 236px;
}

.thumbnail-main img
{
	width: 150px;
}

@media (max-width: 980px)
{
	.modulo_in_content
	{
		font-size: 15px;
	}
}

/*----------End Principal----------*/

.profilecard
{
	margin-bottom: 0px;
}

.quienes-panel p
{
	text-align: justify;
	font-size: 15px;
}
