#escudos
{
	background: #1c3d6c;
}

#logo_unam
{

	width: 100%;
	margin: 20px 0 20px 0;
}

.titulo_consejo
{
	color: white;
}

.titulo_consejo span
{
	display: block;
}

#menu
{
	border-color: #1c3d6c;
	background: #1c3d6c;
	margin-bottom: 0px;
}

#menu ul
{
	background: #1c3d6c;
}

#menu li
{
	padding: 0 10px 0 10px;
}

#menu li.open a
{
	background-color: #1c3d6c;
}

#menu li a
{
	color: white;
	font-weight: bold;
	font-size: 17px;
}

#menu li a:hover
{
	background-color: #c5911f;
}

#menu li.active a
{
	background: #c5911f;

}

@media (max-width: 1120px)
{
	#logo_div
	{
		display: none;
	}
}

#carousel
{
	margin: 12px 0 12px 0;
}





html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 90px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: #1c3d6c;
}

.footer p
{
	color: white;
	font-weight: bold;
}